$primary-color: #21232E;
$secondary-color:#305ED0;
$link-color: #FFFFFF;
$btn-color: #699900;
$highlight-text: #14A0C7;
$text-post-color: #acafb0;
$headings-color: #21232E;
$background-color: #ffffff;


$background-img: url('../img/m-h-day.jpg');



$font-style: 'Hind', sans-serif;
$font-style-headers: 'Source Sans Pro', sans-serif;



$font-weights: (
    'regular': 400,
    'medium': 600,
    'bold': 700
)