$primary-color: #3b3f50;
$secondary-color:#953150;
$link-color: #FFFFFF;
$btn-color: #e3ac00;
$highlight-text: #ff4e33;
$text-post-color: #acafb0;
$headings-color: #ffffff;
$background-color: #21232E;

$background-img: url('../img/m-h-night.jpg');

$font-style:  'Fresca', sans-serif;
$font-style-headers: 'Source Sans Pro', sans-serif;




$font-weights: (
    'regular': 400,
    'medium': 600,
    'bold': 700
)